# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Streams/nbproject/private/
/Streams/build/
/XMLAndFiles/nbproject/private/
/XMLAndFiles/build/
/JDBC/nbproject/private/
/JDBC/build/
/maven-examples/nbproject/private/
/mavenx-examples/nbproject/private/
/mavenx-examples/dist/
/mavenx-examples/build/
/maven-examples/target/
/Restful/target/
/swagger-test/target/
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/dropwizard2/target/